html {
  font-family: 'Open Sans', sans-serif;
  background-color: #B3E1FF;
}

.courgette {
  font-family: 'Courgette', cursive;
  text-decoration: none;
  text-align: center;
  color: #072B43;
}

.logo {
  float: left;
}

.banner {
  position: relative;
  border-bottom: 5px solid #282828;
  max-height: 50vh;
  overflow: hidden;
  clear: both;
}

.banner-text {
  text-align: center;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.desc {
  font-weight: 600;
  text-align: justify;
  border-bottom: 3px solid #072B43;
}

.desc p {
  margin: 0;
}
