html {
  font-family: "Open Sans", sans-serif;
  background-color: #b4d5ea;
}

.nav {
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  clear: both;
  border-top: 3px solid #031c2e;
  display: none;
}

.nav a {
  display: block;
  padding: .5em;
  text-decoration: none;
  color: #031c2e;
  background-color: #69a5cd;
}

.nav a:hover {
  background-color: #031c2e;
  color: #fff;
}

.nav li {
  border-bottom: 2px solid #3b7da9;
}

.nav li:last-child {
  border-bottom: 0;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.courgette {
  font-family: Courgette, cursive;
  text-decoration: none;
  text-align: center;
  color: #031c2e;
}

.banner {
  position: relative;
  border-top: 3px solid #031c2e;
  max-height: 60vh;
  overflow: hidden;
  clear: both;
}

.banner-text {
  text-align: center;
  position: absolute;
  bottom: -30px;
  left: 0;
  text-shadow: 0 0 10px #000;
  color: #fff;
}

.desc p {
  margin: 0;
}

.btn {
  border-radius: 10px;
  background-color: #69a5cd;
  border: 2px solid #3b7da9;
  padding: .5em;
  color: #031c2e;
}

.btn:hover {
  background-color: #031c2e;
  border: 2px solid #031c2e;
  color: #fff;
}

.card {
  text-align: center;
}

.cards {
  border-bottom: 3px solid #031c2e;
}

footer {
  background-color: #3b7da9;
  color: #000;
  text-align: center;
  overflow: hidden;
  border-bottom: 5px solid #031c2e;
}

footer p {
  margin: 0;
}

@media only screen and (min-width: 60em) {

  .nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    clear: none;
    float: right;
    border-top: none;
  }

  .nav a {
    display: block;
    margin: .75em .25em .25em .1em;
    padding: .5em;
    text-decoration: none;
    background-color: #69a5cd;
    border: 2px solid #3b7da9;
    border-radius: 10px;
  }

  .nav a:hover {
    background-color: #031c2e;
    border: 2px solid #031c2e;
    color: #fff;
  }

  .nav li {
    border-bottom: 0;
    display: inline-block;
  }

  .nav li:last-child {
    border-bottom: 0;
  }

  .nav-check {
    position: absolute;
    top: -3em;
  }

  .nav-check:checked ~ .nav {
    display: block;
  }

  .nav-label {
    cursor: pointer;
  }

  .nav-check:checked ~ .nav-label {
    background-color: #031c2e;
  }

  .nav-open {
    display: none;
  }

  .nav-close {
    display: none;
  }

  .nav-check:checked ~ .nav-label .nav-open {
    display: block;
  }

  .nav-check:checked ~ .nav-label .nav-close {
    display: block;
  }

}
